.sign-up-body{
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.sign-up-top-bar{
    /* outline: 2px solid red; */
    height: 5%;
    width: 100%;
    margin-bottom: 4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sign-up-top-bar h3{
    margin-left: 2%;
    margin-right: 2%;
}

.sign-up-container{
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    border-radius: 2%;
    min-width: 22.5em;
    min-height: 75%;
    padding: 0.5em;
}

.shape{
    height: 10em;
    width: 10em;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

.shape-one{
    background: linear-gradient(
        to left,
        #1845ad,
        #23a2f6
    );
    top: 5%;
    left: 0%;
    transform: translate(-50%, -50%);
}

.shape-two{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    bottom: 5%;
    right: 0%;
    transform: translate(50%, 50%);
}

.sign-up-form{
    /* outline: 2px solid orange; */
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    background-color: rgba(41, 40, 47, 0.25);
    border-radius: 2%;
    box-shadow: 0 0 5em rgba(8,7,16,0.6);
    backdrop-filter: blur(0.5em);
    /* padding: 1em; */
}

.sign-up-fields{
    /* outline: 2px solid red; */
    height: 75%;
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.username-field-signup, .email-field-signup, 
.password-field-signup, .confirm-password-field-signup{
    height: 10%;
    background-color: transparent;
    border: none;
    outline: 0.1em solid lightgray;
    border-radius: 0.5em;
}

.sign-up-form h4{
    /* outline: 2px solid greenyellow; */
    margin: 0;
}

.username-field-signup::placeholder, .email.field-signup::placeholder,
.password-field-signup::placeholder, .confirm-password-field-signup::placeholder, 
.username-field-signup[type="username"], .email-field-signup[type="email"],
.password-field-signup[type="password"], .confirm-password-field-signup[type="password"]{
    text-align: center;
}

.sign-up-submit-button{
    height: 3em;
    width: 50%;
    background-color: transparent;
    border: 0.05em solid transparent;
    border-radius: 0.5em;
    background-clip: padding-box;
    outline: 0.1em solid grey;
}

.sign-up-submit-button:hover{
    cursor: pointer;
    border: 0.05em solid transparent;
    border-radius: 0.5em;
    outline: 0;
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
}
