.core-pages-logo{
    outline: 2px solid orange;
    margin: 1%
}

.core-pages-navigation{
    display: flex;
    /* outline: 2px solid pink; */
    width: 25%;
    justify-content: space-between;
}

.link{
    text-decoration: none;
    color: var(--text-color);
}

.auth-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    .button {
        height: 1em;
        background: var(--text-color);
        color: var(--background-color);
        padding: 0.5em 1em;
        cursor: pointer;
        border-radius: 1em;
        text-decoration: none;
        font-weight: bold;
        white-space: nowrap;
    }

    .button:hover {
        background: var(--secondary-hover-fill); /* or any color */
        color: white;
    }
}