.navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 0.75em;
    --button-height: 4em;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    gap: 1em;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

.navigation-bar.scrolled{
    background-color: var(--glass-background);
    outline: 0.1em solid rgba(255,255,255,15%);
    backdrop-filter: blur(0.5em);
}


@media (max-width: 767px) {
    .navigation-bar {
        flex-wrap: wrap;
    }
}

