.drawer-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    padding: 0.5em;
    cursor: pointer;
    background: transparent;
    color: var(--text-color);
    border-radius: 0.5em;
    text-decoration: none;
}

.drawer-item:hover{
    background: var(--hover-fill);
}

.drawer-item.active{
    background: var(--accent-color);
}

@media (max-width: 767px) {
    .drawer-item.active {
        background: var(--hover-fill);
    }
}
