.core-styling-container{
    display: flex;
    position: relative;
}

.style-button{
    cursor: pointer;
}

.style-button.active{
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 0.10em;
}
