.dropdown-container {
    position: absolute;
    top: 100%;
    right: 0;
    display: inline-block;
    background-color: var(--accent-color);
    box-shadow: 0 0 5em rgba(8,7,16,0.6);
    outline: 0.1em solid rgba(255,255,255,15%);
    border-radius: 0.5em;
    padding: 0.5em;
    width: auto;
    z-index: 1000;
    margin-top: 0.5em;
}