.search-field-container{
    border-radius: 2em;
    border: 0.2em solid transparent;
    width: 100%;
    max-width: 37.5em;
    background-color: #29282f;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 0.3em;
}

.search-button {
    height: 100%;
    aspect-ratio: 1 / 1;
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}


.search-button img{
    height: 60%;
    aspect-ratio: 1 / 1;
}

.search-field{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 1em;
    padding-left: 1em;
}

.search-field-container:hover {
    border: 0.2em solid #f09819; /* or any color you like for focus */
    background-color: transparent;
    transition: background-color 0.1s ease;
}

.search-button:hover {
    transform: rotate(15deg) scale(1.05);
    transition: transform 0.2s ease;
}

.delete-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-right: 0.5em;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    margin-left: 0.5em;
    margin-right: 0.5em;
    align-items: center;
    justify-content: center;
    display: flex;
    
}

.delete-button:hover{
    background-color: #29282f;
}
