.note-container{
    outline: 2px solid red;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.note-content-container{
    position: relative;
    /* outline: 2px solid red; */
}

.note-content{
    height: 35em;
    width: 50em;
    border: 0.075em solid #fff;
    padding: 0 1em;
}

.placeholder{
    position: absolute;
    top: 3em;
    left: 1em;
}


/*Lexical themeing CSS*/
.editor-textBold{
    font-weight: bold;
}

.editor-textItalic{
    font-style: italic;
}

.editor-textUnderline{
    text-decoration: underline;
    
}

.editor-textUppercase{
    text-transform: uppercase;
}

.editor-textLowercase{
    text-transform: lowercase;
}

.editor-textStrikethrough{
    text-decoration: line-through;
}

.editor-listitem{
    margin: 0.5em 2em;
}

.editor-nested-listitem{
    list-style-type: none;
}

/*ORDERED LIST*/
.editor-list-ol{
    list-style-type: decimal;
}

.editor-list-ol .editor-list-ol{
    list-style-type: lower-alpha;
}

.editor-list-ol .editor-list-ol .editor-list-ol{
    list-style-type: lower-roman;
}

/*UNORDERED LIST*/

.editor-list-ul{
    list-style-type: disc;
}

.editor-list-ul .editor-list-ul{
    list-style-type: circle;
}

.editor-list-ul .editor-list-ul .editor-list-ul{
    list-style-type: square;
}