.note-content-container{
    position: relative;
}

.scrollable-toolbar{
    display: flex;
    gap: 0.5em;
    flex-grow: 1;
    min-width: 0;
}

.note-content{
    height: 28em;
    border: 0.075em solid #fff;
    padding: 0.5em 1em;
    
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #555 transparent;
}

.note-content p{
    margin: 0;
}   

.placeholder{
    position: absolute;
    top: 8.125em;
    left: 1em;
}

.editor-ui{
    width: 100%;
}

.styling-options{
    display: flex;
}

.formatting-options{
    display: flex;
}


/*Lexical themeing CSS*/
.editor-textBold{
    font-weight: bold;
}

.editor-textItalic{
    font-style: italic;
}

.editor-textUnderline{
    text-decoration: underline;
    
}

.editor-textUppercase{
    text-transform: uppercase;
}

.editor-textLowercase{
    text-transform: lowercase;
}

.editor-textStrikethrough{
    text-decoration: line-through;
}

.editor-listitem{
    margin: 0.5em 2em;
}

.editor-nested-listitem{
    list-style-type: none;
}

/*ORDERED LIST*/
.editor-list-ol{
    list-style-type: decimal;
}

.editor-list-ol .editor-list-ol{
    list-style-type: lower-alpha;
}

.editor-list-ol .editor-list-ol .editor-list-ol{
    list-style-type: lower-roman;
}

/*UNORDERED LIST*/

.editor-list-ul{
    list-style-type: disc;
}

.editor-list-ul .editor-list-ul{
    list-style-type: circle;
}

.editor-list-ul .editor-list-ul .editor-list-ul{
    list-style-type: square;
}

/* Mobile Responsiveness */

/*Mobile (0px-767px) */
@media (max-width: 767px){

    .note-content{
        height: 42em;
    }

    .scrollable-toolbar{
        display: flex;
        align-items: center;
        flex-grow: 1;
        gap: 0.5em;
        overflow-x: auto;
        scrollbar-width: none;
    }

    .toolbar-save-status{
        display: flex;
        align-items: center;
        flex-grow: 0;
        flex-shrink: 0;
        padding-left: 0.5em;
    }
}

/*Tablet to laptop (768px-1024px)*/
@media (min-width: 768px) and (max-width:1024px){

    .note-content{
        height: 40em;
    }

    .scrollable-toolbar{
        display: flex;
        align-items: center;
        flex-grow: 1;
        gap: 0.5em;
        overflow-x: auto;
        scrollbar-width: none;
    }

    .toolbar-save-status{
        display: flex;
        align-items: center;
        flex-grow: 0;
        flex-shrink: 0;
        padding-left: 0.5em;
    }
}