.note-container{
    outline: 2px solid red;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.note-content-container{
    position: relative;
    /* outline: 2px solid red; */
}

.note-content{
    height: 35em;
    width: 50em;
    border: 0.075em solid #fff;
    padding: 0 1em;
}

.placeholder{
    position: absolute;
    top: 3em;
    left: 1em;
}


/*Lexical themeing CSS*/
.editor-textBold{
    font-weight: bold;
}

.editor-textItalic{
    font-style: italic;
}

.editor-textUnderline{
    text-decoration: underline;
    
}

.editor-textUppercase{
    text-transform: uppercase;
}

.editor-textLowercase{
    text-transform: lowercase;
}

.editor-textStrikethrough{
    text-decoration: line-through;
}