.note-content-container{
    position: relative;
}

.note-content{
    height: 28em;
    border: 0.075em solid #fff;
    padding: 0.5em 1em;
    
    
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #555 transparent;
}

.note-content p{
    margin: 0;
}

.placeholder{
    position: absolute;
    top: 8.125em;
    left: 1em;
}

.editor-ui{
    width: 100%;
}

.styling-options{
    display: flex;
}

.formatting-options{
    display: flex;
}


/*Lexical themeing CSS*/
.editor-textBold{
    font-weight: bold;
}

.editor-textItalic{
    font-style: italic;
}

.editor-textUnderline{
    text-decoration: underline;
    
}

.editor-textUppercase{
    text-transform: uppercase;
}

.editor-textLowercase{
    text-transform: lowercase;
}

.editor-textStrikethrough{
    text-decoration: line-through;
}

.editor-listitem{
    margin: 0.5em 2em;
}

.editor-nested-listitem{
    list-style-type: none;
}

/*ORDERED LIST*/
.editor-list-ol{
    list-style-type: decimal;
}

.editor-list-ol .editor-list-ol{
    list-style-type: lower-alpha;
}

.editor-list-ol .editor-list-ol .editor-list-ol{
    list-style-type: lower-roman;
}

/*UNORDERED LIST*/

.editor-list-ul{
    list-style-type: disc;
}

.editor-list-ul .editor-list-ul{
    list-style-type: circle;
}

.editor-list-ul .editor-list-ul .editor-list-ul{
    list-style-type: square;
}