.note-list-container{
    margin-top: 5vh;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.recent-notes, .user-notes{
    background-color: rgba(255, 255, 255, 0.04);
}

.recent-notes-header, .recent-notes-header h2, .user-notes-header, .user-notes-header h2 {
    padding: 0;
    margin: 0;
}

.recent-notes-list{
    padding: 0.5em;
    display: flex;
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: #555 transparent;
    height: 35vh;
    gap: 1em;
    
}

.user-notes-list{
    padding: 0.5em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

/* NoteCard CSS */

.note-card-container{
    flex-direction: column;
    padding: 0.75em;
    height: 30vh;
    width: 15vw;
    flex-shrink: 0;
    justify-content: space-between;
    cursor: pointer;
}

.note-card-container:hover{
    outline: 2px solid var(--hover-border);
}

.note-card-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.note-card-title{
    font-weight: bold;
}

.note-card-actions{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.note-card-actions-icon{
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    aspect-ratio: 1/1;
}

.note-card-actions-icon:hover{
    background-color: var(--secondary-accent-color);
    border-radius: 50%;
}

#note-card-dropdown{
    transform: translateY(-10%);
}

.note-content-preview{
    height: 15vh;
    width: 14vw;
    font-size: small;
    padding: 0.5em;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

