.note-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    box-sizing: border-box;
}

.recent-notes, .user-notes{
    background-color: rgba(255, 255, 255, 0.04);
    width: 100%;
}

.recent-notes-header, .user-notes-header{
    display: flex;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
}

.toggle-icon{
    transition: transform 0.75s ease;
}

.recent-notes-header h2, .user-notes-header h2 {
    padding: 0;
    margin: 0;
}

.recent-notes-list{
    padding: 0.5em;
    display: flex;
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: #555 transparent;
    gap: 1em;
    box-sizing: border-box;
}

.user-notes-list{
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #555 transparent;
    padding: 0.5em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    height: 35em;
}

.accordion-panel{
    max-height: 90em;
    overflow: hidden;
    transition: max-height 1s ease;
}

.collapsed .accordion-panel{
    max-height: 0;
}

.expanded{
    height: 20em;
}

.recent-notes.collapsed .toggle-icon, .user-notes.collapsed .toggle-icon{
    transform: rotate(180deg);
}

/* NoteCard CSS */

.note-card-container{
    display: flex;
    flex-direction: column;
    height: 15em;
    min-width: 14em;
    width: 14em;
    cursor: pointer;
    justify-content: space-between;
    box-sizing: border-box;
}

.note-card-container:hover{
    outline: 2px solid var(--hover-border);
}

.note-card-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: 0.5em;
}

.note-card-title{
    font-weight: bold;
}

.note-card-actions{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.note-card-actions-icon{
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    aspect-ratio: 1/1;
}

.note-card-actions-icon:hover{
    background-color: var(--secondary-accent-color);
    border-radius: 50%;
}

#note-card-dropdown{
    width: 5em;
    transform: translateX(-60px) translateY(-20px);
}

.note-content-preview{
    height: 100%;
    width: 100%;
    font-size: small;
    overflow-wrap: break-word;
    box-sizing: border-box;
    padding: 0.5em;
}

.note-last-modified{
    font-size: 14px;
    display: block;
    box-sizing: border-box;
    padding: 0.5em;
}

@media (max-width: 767px) {

    .note-last-modified{
        display: none;
    }

    .recent-notes-mobile-scroll{
        overflow-x: hidden;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: #555 transparent;
    }
    
    .accordion-panel{
        overflow: hidden;
    }

    .recent-notes-list, .user-notes-list{
        box-sizing: border-box;
        padding: 1em;
        height: 25em;
    }

    .recent-notes-list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .user-notes-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }
    
    .user-notes-mobile-scroll{
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: #555 transparent;
    }

    .note-card-container{
        min-height: 10em;
        min-width: 90%;
        max-width: 90%;
    }
}