.icon-button{
    position: relative;
    height: 100%;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    
    .icon-image{
        height: 60%;
        width: auto;
        aspect-ratio: 1 / 1;
        border: none;
        color: var(--text-color);
    }

    .tooltiptext {
        visibility: hidden;
        width: max-content;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 5px;
        pointer-events: none;
    }
    
    .tooltiptext::after {
        content: " ";
        position: absolute;
        bottom: 100%;  /* At the top of the tooltip */
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent black transparent;
        pointer-events: none;
    }
}

.icon-button:disabled {
    cursor: not-allowed;
    pointer-events: none;
}

.icon-button:disabled .icon-image {
    color: gray;
}


.icon-button:hover{
    background-color: var(--secondary-accent-color);
}
  
.icon-button:hover .tooltiptext {
    visibility: visible;
}