.button-container{
    height: var(--button-height);
    aspect-ratio: 1 / 1;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.button-container:hover{
    background-color: var(--accent-color);
}

.icon-image{
    height: 60%;
    aspect-ratio: 1 / 1;
    border: none;
    background-color: transparent;
}