.navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 0.75em;
    height: 4em;
    position: sticky;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    align-items: center;
    height: 80%;
}
.logo {
    padding: 0%;
    margin: 0%;
}

