.input-field-container{
    width: 100%;
    height: 2em;
    align-items: center;
    display: flex;
    flex-direction: row;
    transition: all 0.2s ease-in-out;
}

.input-field{
    background-color: transparent;
    border: none;
    color: var(--text-color);
    height: 100%;
    width: 100%;
    font-size: 1em;
    outline: none;
}

.input-field-container.outlined{
    border-radius: 0.5em;
    border: 0.2em solid transparent;
    background-color: var(--accent-color);
    outline: 0.1em solid var(--secondary-hover-border);
    box-sizing: border-box;
    padding-top: 1em;
    padding-bottom: 1em;
    .input-field{
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 1em;
        padding-right: 1em;
    }
    
    
}

.input-field-container.outlined:hover{
    border: 0.2em solid var(--secondary-hover-border);
}

.input-field-container.outlined:focus-within{
    border: 0.2em solid var(--hover-border);
    background-color: transparent;
}


.input-field-container.underlined{
    box-sizing: border-box;
    border-bottom: 0.1em solid var(--secondary-hover-border);
    transition: all 0.1s ease-in-out;
    .input-field{
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0.2em;
    }
    
}

.input-field-container.underlined:hover{
    border-bottom: 0.15em solid var(--text-color);
}

.input-field-container.underlined:focus-within{
    border-bottom: 0.15em solid var(--hover-border);
}

