.input-field-label{
    display: block;
    margin-bottom: 0.5em;
}
.input-field-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 0.5em;
    .input-contents{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        transition: border-color 0.2s ease-in-out, outline-color 0.2s ease-in-out;
        .input-field{
            min-height: 2.5em;
            background-color: transparent;
            border: none;
            color: var(--text-color);
            width: 100%;
            font-size: inherit;
            font-family: inherit;
            outline: none;
            padding: 0;
            padding-left: 0.5em;
            padding-right: 0.5em;
        }
    }
    .error-message {
        color: var(--error-color);
        font-size: 0.8em;
        margin: 0;
        margin-top: 0.2em;
        padding: 0;
    }

    .input-contents.outlined{
        border-radius: 0.5em;
        background-color: var(--accent-color);
        box-sizing: border-box;
        .input-field{
            border-radius: 0.5em;
        }
    }

    .input-contents.outlined.regular{
        outline: 0.1em solid var(--secondary-hover-border);
    }
    
    .input-contents.outlined.regular:hover{
        outline: 0.15em solid var(--text-color);
    }
    
    .input-contents.outlined.regular:focus-within{
        outline: 0.15em solid var(--hover-border);
        background-color: transparent;
    }
    
    .input-contents.outlined.error{
        outline: 0.1em solid var(--error-color);
    }
    
    .input-contents.outlined.error:focus-within{
        outline: 0.15em solid var(--error-color);
    }
    
    .input-contents.underlined{
        border-bottom: 0.1em solid var(--secondary-hover-border);
        transition: all 0.1s ease-in-out;
        .input-field{
            padding-left: 0;
            padding-right: 0.5em;
        }
        
    }
    
    .input-contents.underlined:hover{
        border-bottom: 0.15em solid var(--text-color);
    }
    
    .input-contents.underlined:focus-within{
        border-bottom: 0.15em solid var(--hover-border);
    }
}


