.page-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    margin-bottom: 1em;
}

.save-buttons{
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    height: 2.7em;
}

.deck-info{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 2em;
}

.flashcard{
    display: flex;
    flex-direction: column;
    z-index: 0;
    .card-top{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 0.3em;
        padding-top: 0.3em;
        box-sizing: border-box;
        border-bottom: 0.1em solid var(--secondary-hover-border);
        
        .index{
            font-weight: bold;
            font-size: 1.2em;
            color: gray;
        }
        .card-actions{
            display: flex;
            flex-direction: row;
            .delete-button:hover .icon-image{
                color: var(--error-color);
                transition: none;
            }
            .drag-button:hover{
                background-color: transparent;
                cursor: grab;
            }
        }
        
    }
    .card-bottom{
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 1em;
        padding: 1em 1em 1em 1em;
        box-sizing: border-box;
    }
}

.flashcard-list{
    list-style-type: none;
    margin-left: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#add-flashcard-button{
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 4em;
}

.flashcards-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.finished-modal{
    padding: 1em;
    gap: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .modal-actions{
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: center;
    }
}

.finished-modal h2{
    margin-bottom: 0;
    text-align: center;
}