.my-flashcards-page{
    
    .decks-list{
        list-style-type: none;
        margin-left: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 1em;
        .deck-component{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 1em;
            height: 3em;
            width: 100%;
            padding: 1em;
            .deck-actions{
                display: flex;
                flex-direction: row;
                gap: 0.5em;
                height: 2.5em;
            }
        }
    }
    
    .fetch-deck-loading{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 10em;
        width: 100%
    }
    
    .delete-modal{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
        padding: 1em;
        
        .modal-actions{
            display: flex;
            flex-direction: row;
            gap: 1em;
            height: 3em;
            width: 100%;
            align-items: center;
            justify-content: center;
            #confirm-delete, #cancel-delete{
                font-size: 1rem;
            }
            #confirm-delete:hover{
                background: var(--error-hover-fill);
                color: var(--text-color);
            }
        }
    }
    
    .delete-modal h1{
        margin-bottom: 0;
    }
    
    .delete-modal p{
        margin: 0;
        text-align: center;
        font-size: 1.2em;
    }
}