.button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 2em;
    border-radius: 2em;
    cursor: pointer;
    white-space: nowrap;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    .button{
        height: 100%;
        text-decoration: none;
        font-weight: bold;
        white-space: nowrap;
        font-size: 0.9em;
    }
}

.button-container.filled{
    background-color: white;
    .button{
        color: var(--background-color);
    }
}

.button-container.outlined{
    outline: 3px solid var(--text-color);;
    outline-offset: -3px;
    transition: all 0.2s ease-in-out;
    .button{
        color: white;
    }
}

.button-container.filled:hover{
    background: var(--hover-fill);
    .button{
        color: white;
    }
}

.button-container.outlined:hover{
    outline: 3px solid var(--hover-border);
    outline-offset: -3px;
    background-color: var(--accent-color);
    .button{
        color: white;
    }
}

