.extended-styling-container{
    display: flex;
    position: relative;
}

.extra-styles{
    cursor: pointer;
}

.extended-styles-icon svg{
    width: 22px;
}

#extended-styles-dropdown{
    width: 11em;
}
