html, body {
    margin: 0;
    padding: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --text-color: rgba(255, 255, 255, 0.87);
  --background-color: rgba(7, 5, 15, 255);
  --accent-color: #29282f;
  --secondary-accent-color: rgb(31, 30, 34);
  
  --hover-border: #f09819;
  --secondary-hover-border: #4d4c55;

  --button-outline: rgba(114, 113, 113, 0.87);
  --secondary-button-outline: #23a2f6;

  --hover-fill: linear-gradient(
    to right,
    #ff512f,
    #f09819
  );
  --secondary-hover-fill: linear-gradient(
    to left,
    #1845ad,
    #23a2f6
  );
  --error-color: #eb4040;
  --side-drawer-width: 13rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --glass-background: rgba(255,255,255,5%);
  --icon-color: white;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */
