.highlighting-container{
    display: flex;
}

.highlight, .palette{
    cursor: pointer;
}

.colour-swatch{
    width: 15px;
    height: 15px;
    border: 1px solid white;
}

#palette-dropdown{
    width: 7em;
}
