.progress-bar-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    height: 1em;
    border-radius: 0.5em;
    .progress-bar{
        background-color: var(--accent-color);
        width: 100%;
        height: 100%;
        border-radius: 0.5em;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .progress-bar-fill{
            height: 100%;
            border-radius: 0.5em;
            transition: width 0.3s ease;
        }
    }
}

.progress-bar-label{
    width: 100%;
    margin-bottom: 0.5em;
    margin-top: 0;
}