.temp-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.toolbar-container{
    display: flex;
    outline: 2px solid red;
    width: 50%;
    height: 2em;
    align-items: center;

}

.history{
    outline: 2px solid gold;
    margin-right: 1em;
}

.styling-options{
    outline: 2px solid violet;
    margin-right: 1em;
}

.formatting-options{
    outline: 2px solid greenyellow;
}