.toolbar-container{
    display: flex;
    border: 0.075em solid #fff;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    padding: 0.3em;
}

.toolbar-container button{
    height: 2.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbar-save-status{
    flex-grow: 0;
    flex-shrink: 0;
}