.toolbar-container{
    display: flex;
    border: 0.075em solid #fff;
    height: 2em;
    align-items: center;

}

.history{
    outline: 2px solid gold;
    margin-right: 1em;
    margin-left: 1em;
}

.styling-options{
    outline: 2px solid violet;
    margin-right: 1em;
    display: flex;
}

.formatting-options{
    outline: 2px solid greenyellow;
}

.extended-styling-container{
    display: flex;
    position: relative;
}
