.header-container{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: flex;
}

.file-name-container{
    width: 40em;
    display: flex;
    margin-right: 0.5em;
}

.textarea-container.note-title .textarea{
    resize: none;
    padding: 2px;
    font-size: x-large;
    font-weight: bolder;
}

.textarea-container.note-title.outlined .textarea{
    background-color: transparent;
    border-width: 0.1em;
}

.textarea-container.note-title.outlined:focus-within .textarea{
    background-color: var(--accent-color);
    border-width: 0.1em;
}

.file-operations-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25em;
}

.file-operations{
    display: flex;
    height: 2.7em;
    gap: 1em;
}

.content-buttons{
    min-width: 6.5em;
}

/* Mobile responsiveness*/

@media (max-width: 767px){
    .header-container{
        gap: 0.5em;
    }

    .file-name-container{
        margin-right: 0;
        width: auto;
        flex-grow: 1;
    }

    .file-operations{
        display: flex;
        justify-content: flex-end;
        width: auto;
        flex-shrink: 0;
    }

    .file-operations .button-container{
        width: auto;
    }

}